<!DOCTYPE html>
<html>

<head>
    <%- include("../static/partials/meta/default") %>
    <title>Dashboard</title>
    <%- include("../static/partials/styles") %>
</head>

<body>
    <%- include("../static/partials/index") %>
        <% let url=req.url; %>

            <script src="/static/js/DropDowns.js"></script>
            <script src="/static/js/dashboard/ApiInteractor.js"></script>

            <script src="/static/js/dashboard/Selector.js"></script>
            <script src="/static/js/dashboard/selectors/BoolSelector.js"></script>
            <script src="/static/js/dashboard/selectors/NumberSelector.js"></script>
            <script src="/static/js/dashboard/selectors/DiscordSelector.js"></script>
            <script src="/static/js/dashboard/selectors/RoleSelector.js"></script>
            <script src="/static/js/dashboard/selectors/ChannelSelector.js"></script>
            <script src="/static/js/dashboard/selectors/CategorySelector.js"></script>


            <script src="/static/js/dashboard/Section.js"></script>
            <script src="/static/js/dashboard/sections/ActiveModules.js"></script>
            <script src="/static/js/dashboard/sections/Categories.js"></script>
            <script src="/static/js/dashboard/sections/Channels.js"></script>
            <script src="/static/js/dashboard/sections/ChatRewards.js"></script>
            <script src="/static/js/dashboard/sections/Functions.js"></script>
            <script src="/static/js/dashboard/sections/Levels.js"></script>
            <script src="/static/js/dashboard/sections/Quantities.js"></script>
            <script src="/static/js/dashboard/sections/Roles.js"></script>

            <script src="/static/js/dashboard/Sidebar.js"></script>
            <script src="/static/js/dashboard/Dashboard.js"></script>

            <% let parsedSession; if(!session.token) { %>
                <script>
                    return window.location.replace("/login");
                </script>
                <%} else { 
                    parsedSession=Object.assign({}, session);
                    delete parsedSession.refresh;
                    delete parsedSession.token;
                    delete parsedSession.token_type;
                    delete parsedSession.token_type;
                }%>

                    <script data-will_load>
                        const dashboard = new Dashboard('<%- url %>')

                        if (!dashboard.hasSession()) dashboard.setSession(<%- JSON.stringify(parsedSession) %>)
                        dashboard.manage();
                    </script>

                    <% let guildId=url.replace(/\?.*$/, '').split("/").find(x=> x.match(/\d+/))?.replace(/\D+/, "");
                        if(!guildId) {
                        %>
                        <%- include("../static/partials/footer"); %>
                            <%}%>
</body>

</html>
<%- include("../static/partials/loading") %>