<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeffrey Bot - Colored Stealth</title>
    <%- include("../../../static/partials/styles") %>
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
</head>

<body class="dark">
    <%- include("../../../static/partials/index") %>

        <h1 class="rellax-title">Colored Stealth</h1>
        <div class="rellax-container first">
            <img src="/static/imgs/CSBanner.png" alt="CS_Banner">
        </div>

        <div class="container bg after-rellax">
            <div class="card reveal left keep">
                <div id="logo">
                    <%- include("../../../static/svg/coloredstealth.svg") %>
                </div>
                <div class="description">
                    <h1 id="title">¿Qué es Colored Stealth?</h1>
                    <p id="content">
                        Colored Stealth es el nombre en clave de un proyecto a manos de <a class="show-link"
                            href="/developer">@Jeffrowo</a>,
                        que tiene el fin de recopilar los productos/proyectos distribuídos por su creador al público.
                    </p>
                </div>
            </div>
            <div class="card dark reveal right keep">
                <div class="description">
                    <h1 id="title">Jeffrey Bot x Colored Stealth</h1>
                    <p id="content">
                        <b>Jeffrey Bot</b> inició como un proyecto personal de Jeff con el fin de administrar su
                        servidor
                        de Discord.
                    </p>
                    <p id="content">
                        Luego con el tiempo se decidió que sería un buena idea iniciar el proceso para que Jeffrey Bot
                        esté disponible al público en el futuro. Y así se volvió parte de 'Colored Stealth'.
                    </p>
                </div>
                <div id="logo">
                    <img src="/static/imgs/jb_logo.png" alt="Jeffrey Bot Logo">
                </div>
            </div>
            <div class="container after-rellax">
                <div class="card reveal right keep">
                    <div id="logo">
                        <%- include("../../../static/svg/discord.svg") %>
                    </div>
                    <div class="description">
                        <h1 id="title">Acceso anticipado</h1>
                        <p id="content">
                            <b>Jeffrey Bot</b> está en contados servidores de Discord actualmente. Uno de ellos es el <a
                                class="show-link" href="/discord">servidor de Jeff</a>. Eres libre de unirte y hablar
                            con la gente si
                            gustas.
                        </p>
                        <p id="content">
                            Cabe aclarar que este servidor <b>NO</b> es de Jeffrey Bot, es del desarrollador. Jeffrey
                            Bot sólo está ahí como base para que todo el server funcione y sea interactivo con la
                            comunidad de Jeff.
                        </p>
                        <p id="content">
                            Si consigues VIP en el <a href="/discord">servidor de Discord</a> de Jeff,
                            podrías ser <u>Beta Tester</u> de <b>Jeffrey Bot</b> para versiones futuras.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card nologo reveal left keep dark">
                <h1 id="title">¿Cuándo será público finalmente?</h1>
                <p id="content">
                    No está claro... y por eso, "Jeffrey Bot siempre está en desarrollo".
                </p>
                <p id="content">
                    El proceso de reescritura de la base del bot está en proceso y avanza bastante bien.
                </p>
                <p id="content">
                    Sin embargo, también está el tema del hosting y mantenimiento del proyecto.
                </p>
            </div>
        </div>

        <script>
            var rellax = new Rellax(".rellax-container", {
                speed: -9
            })
        </script>

        <%- include("../../../static/partials/footer") %>
</body>

</html>

<%- include("../../../static/partials/loading") %>