<!DOCTYPE html>
<html>
<head>
    <%- include("../../../static/partials/meta/default") %>
    <title>Colored Stealth - Proyectos</title>
    <%- include("../../../static/partials/styles") %>
</head>
<body>
    <%- include("../../../static/partials/index") %>

    <div class="container">
        <h1>Aún no hay nada...</h1>
        <a style="font-size: 2em" class="show-link" href="/">> Inicio</a>
    </div>
    
    <%- include("../../../static/partials/footer") %>
</body>
</html>
<%- include("../../../static/partials/loading") %>
